name: Generate Snake

on:
  # Se lance toutes les 24h
  schedule:
    - cron: "0 0 * * *" 
  # Permet de lancer manuellement
  workflow_dispatch:
  # Se lance quand tu push sur master/main
  push:
    branches:
    - master
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: aurelienfvre
          # On génère uniquement les SVG (pas de GIF lourd avec barre de chargement)
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
            
      - name: Push Snake to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
